
body{
    font-family: sans-serif;
}

*{
    box-sizing: border-box;
}


.modal{
    display: none;
    background-color: rgba(0,0,0,0.4);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    padding: 20px;
    justify-content: center;
    align-items: center;

}


.modal-container{
    background-color: #2a3342;
    min-width: 800px;
    max-width: 90%;
    min-height: 300px;
    max-height: 90%;
    padding: 20px;
    border-radius: 15px;
    position: relative;

}

.close-modal{
    background-color: #2a3342;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-size: 1.3rem;
    border-radius: 50%;
    position: absolute;
    right: 1px;
    top: 0px;
    cursor:pointer
   
}







#img-modal
{background-color: #2ad167; 
margin-top: 90px;
height: 50px;
width: 50px;
min-width: 30px;
border: 3px solid #2ad167;
border-radius: 10px; 
margin-left: 355px;
display: flex;
align-items: center;
justify-content: center;}

#titulo-modal
{color: white; 
margin: 15px; 
font-size: 30px;
display: flex;
align-items: center;
justify-content: center;}

#parrafo-modal
{color: white;
margin: 15px; 
font-size: 15px;
display: flex;
align-items: center;
justify-content: center;}

#correo-modal
{color: white;
margin: 3px; 
font-size: 15px;
margin-right: 195px;
margin-left: 250px}

#ingresa-correo
{height: 30px;
width: 255px;
border-radius: 8px;
margin-left: 250px;
}

#password-modal
{color: white;
margin: 3px; 
font-size: 15px;
margin-right: 170px;
margin-left: 250px
}

#ingresar-contraseña
{height: 30px;
width: 255px;
border-radius: 8px;
margin-left: 250px}

#checkbox-recordarme
{margin-top: 13px;
margin-left: 250px}

#recordarme-modal
{color: white;
font-size: 12px;
}

#olvidar-contraseña-modal
{color: white;
margin: 10px; 
font-size: 12px;
color: #2ad167;
margin-left: 55px;
}


#boton-ingreso-modal
{color: white;
background-color:#2ad167 ;
margin: 35px; 
font-size:15px;
height: 35px;
width: 250px;
border-radius: 8px;
margin-left: 250px;}

#ultimo-parrafo-modal
{color: white;
margin: 15px; 
font-size: 12px;
margin-left: 280px
}

#registro-modal
{color: #2ad167;
font-size: 12px;
margin-left: -10px;
align-items: center;

}