*
{margin: 0;
padding: 0;
box-sizing: border-box;}




.card-modal
{width: 1000px;
height: 600px;
border-radius: 21px;
box-shadow: 0 2px rgba(0,0,0,0.0);
overflow: hidden;
margin: 20px;
margin-left: 390px;
text-align: center;
transition: all 0.25s;
background-color: #2a3342;}


#Cerrar-modal
{color: white;
font-size: 25px;
margin-left: 950px;}



#img-modal
{background-color: #2ad167; 
margin-top: 100px;
height: 50px;
width: 50px;
min-width: 30px;
border: 3px solid #2ad167;
border-radius: 10px; }


#titulo-modal
{color: white; 
margin: 15px; 
font-size: 30px;}



#parrafo-modal
{color: white;
margin: 15px; 
font-size: 18px;}



#correo-modal
{color: white;
margin: 3px; 
font-size: 18px;
margin-right: 195px;}

#ingresa-correo
{height: 30px;
width: 255px;
border-radius: 8px;}

#password-modal
{color: white;
margin: 3px; 
font-size: 18px;
margin-right: 170px;
}

#ingresar-contraseña
{height: 30px;
width: 255px;
border-radius: 8px}

#checkbox-recordarme
{margin-top: 13px;}

#recordarme-modal
{color: white;
font-size: 12px;}

#olvidar-contraseña-modal
{color: white;
margin: 10px; 
font-size: 12px;
color: #2ad167;
margin-left: 55px;}


#boton-ingreso-modal
{color: white;
background-color:#2ad167 ;
margin: 35px; 
font-size:15px;
height: 35px;
width: 250px;
border-radius: 8px;}

#ultimo-parrafo-modal
{color: white;
margin: 15px; 
font-size: 12px;
;}

#registro-modal
{color: #2ad167;
font-size: 12px;
margin-left: -10px;
align-items: center;

}