/* PANTALLA */

*{margin: 0;
padding: 0;
box-sizing: border-box;}

/* PANTALLA */ 

/* EMPIEZA BODY */ 

body
{display: grid; 
grid-template-columns: 1fr ;
grid-template-rows: 1fr 1fr 1fr 1fr 1f 1fr 1fr ;
width: 100 pw; height: 100 ph;}

/* TERMINA BODY */



/* EMPIEZA MODAL */



.modal{
    display: none;
    background-color: rgba(0,0,0,0.4);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    padding: 20px;
    justify-content: center;
    align-items: center;}


.modal-container{
    background-color: #2a3342;
    min-width: 800px;
    max-width: 90%;
    min-height: 300px;
    max-height: 90%;
    padding: 20px;
    border-radius: 15px;
    position: absolute;

}

.close-modal{
    background-color: #2a3342;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-size: 1.3rem;
    border-radius: 50%;
    position: absolute;
    right: 1px;
    top: 0px;
    cursor:pointer}


#img-modal
{background-color: #2ad167; 
margin-top: 90px;
height: 50px;
width: 50px;
min-width: 30px;
border: 3px solid #2ad167;
border-radius: 10px; 
margin-left: 355px;
display: flex;
align-items: center;
justify-content: center;}

#titulo-modal
{color: white; 
margin: 15px; 
font-size: 30px;
display: flex;
align-items: center;
justify-content: center;}

#parrafo-modal
{color: white;
margin: 15px; 
font-size: 15px;
display: flex;
align-items: center;
justify-content: center;}

#correo-modal
{color: white;
margin: 3px; 
font-size: 15px;
margin-right: 195px;
margin-left: 250px}

#ingresa-correo
{height: 30px;
width: 255px;
border-radius: 8px;
margin-left: 250px;
}

#password-modal
{color: white;
margin: 3px; 
font-size: 15px;
margin-right: 170px;
margin-left: 250px
}

#ingresar-contraseña
{height: 30px;
width: 255px;
border-radius: 8px;
margin-left: 250px}

#checkbox-recordarme
{margin-top: 13px;
margin-left: 250px}

#recordarme-modal
{color: white;
font-size: 12px;
}

#olvidar-contraseña-modal
{color: white;
margin: 10px; 
font-size: 12px;
color: #2ad167;
margin-left: 55px;
}


#boton-ingreso-modal
{color: white;
background-color:#2ad167 ;
margin: 35px; 
font-size:15px;
height: 35px;
width: 250px;
border-radius: 8px;
margin-left: 250px;}

#ultimo-parrafo-modal
{color: white;
margin: 15px; 
font-size: 12px;
margin-left: 280px
}

#registro-modal
{color: #2ad167;
font-size: 12px;
margin-left: -10px;
align-items: center;

}


/* TERMINA MODAL */ 




/* HEADER NO SE TOCA */
header
{margin-bottom: 5cm;}

#imagen-header
{margin-left: 20px;
padding-top: 90px;
margin-top: -40px;}

#parrafo-flex-imagen
{font-size: 25px;
margin-left: 70px;
margin-top: -50px;
padding-bottom: 30px;}

#primera-lista-header
{display: flex;
justify-content: space-between;
align-items: center;
text-align: center;
margin-left: 800px;
margin-right: 800px;
font-size: 15px;
margin-top: -50px;
cursor: pointer}


#primeros-botones
{margin-bottom: 2cm;
margin-left: 1675px;
margin-top: -25px;}

.botones-header
{background-color: white; 
font-size: 18px;
border-radius:10px; 
border: 2.3px solid white;
height: 30px;
width: 100px;
cursor: pointer}

.botones-header2
{background-color: #2ad167; 
font-size: 18px; 
color: white;
border-radius:4px; 
border: 2.5px solid #2ad167;
height: 30px;
width: 100px;
cursor: pointer;}

/* HEADER NO SE TOCA */



/* ACA EMPIEZA MAIN PARTE 1 SECTIONS*/


main
{display: grid;
grid-template-rows: 5fr 3fr 2fr 5fr;}

#primer-grid-main{
display: grid; 
grid-template-columns: 1fr 1fr;
margin-top: -180px;}

#parrafo-nuevo
{font-size:22px; 
background-color: #2ad167;
margin-right: 1110px;
margin-left: 80px;
border-radius: 10px solid #2ad167;
color: white;
border-radius:20px;
text-align: center;
margin-top: 1cm;}

#titulo-main-primer-div
{font-size: 102px; 
margin-right: 300px;
margin-left: 75px;
margin-top: 1cm;}

#segundo-parrafo-main
{font-size: 30px;
margin-left: 75px;
margin-top: 1cm;}

#botones-main
{font-size: 28px;
color: white; 
background-color: #2ad167; 
margin-left: 2.5cm; 
margin-top: 1.8cm; 
height: 55px;
width: 200px;
border-radius: 6px;
border: #f7f8f9;
cursor: pointer
}

#botones-main2
{font-size: 28px;
color: black;
margin-top: 1.8cm; 
height: 60px;
width: 200px;
border-radius:6px; 
border: 2px;
background-color: white;
border: 1px solid grey;
cursor: pointer}


#foto-circulos-anaranjados
{position: absolute ;
margin-top: 20px;
margin-left: -190px}


#foto-main-grande
{height: 600px;
margin-top: 100px;
margin-left: -95px;}



#foto-puntos-azules
{position: absolute;
margin-left: 440px;
margin-top: -85px;}



/* ACA TERMINA MAIN PARTE 1 SECTIONS */


/* ACA EMPIEZA MAIN PARTE 2, ARTICULOS */ 


.sepracion-uno-main
{display: flex;
padding-top: 0;
height: 10px;}

.container
{width: 100%;
max-width: 1200px;
height: 400px;
display:flex;
flex-wrap: wrap;
justify-content: center;
margin: auto;}

.card{
width: 400px;
height: 1200px;
border-radius: 21px;
box-shadow: 0 2px rgba(0,0,0,0.0);
overflow: hidden;
margin: 20px;
text-align: center;
transition: all 0.25s;
cursor: pointer}

.simbolos
{background-color: #2ad167;
border: 20px solid #2ad167;
display: flex; 
justify-content: center; 
align-items: center;
margin-top: 2cm;
margin-left: 160px;
border-image: round 10px #2ad167;
border-radius: 6px;}

.titulos-dentro-de-cards
{font-size: 32px;
padding-top: 1cm;}

.texto-dentro-de-cards
{font-size: 20px;
padding-top: 0.8cm;}

/* ACA TERMINA MAIN PARTE 2, ARTICULOS */ 


/* ACA EMPIEZA MAIN PARTE 3, MAS ARTICULOS */

#Notificacion
{font-size: 70px;
margin-left: 75px;
margin-top:2cm;
margin-bottom: 40px;}

#Parrafo-notificacion
{font-size: 30px;
margin-left: 75px;
margin-bottom: 30px;}


/* ACA TERMINA MAIN PARTE 3, MAS ARTICULOS */


/* ACA EMPIEZA MAIN PARTE 4, PLANES  */

.container2
{width: 100%;
max-width: 1200px;
height: 530px;
display:flex;
flex-wrap: wrap;
justify-content: center;
margin: auto;}

.card2
{width: 390px;
height: 500px;
border-radius: 21px;
box-shadow: 0 2px rgba(0,0,0,0.0);
overflow: hidden;
margin-top: 40px;
text-align: center;
transition: all 0.25s;
background-color: #f7f8f9;}

.precio-plan
{color: #2ad167; 
font-size: 26px; 
margin: 5px; 
padding-top: 1cm; 
padding-bottom: 1cm;}

.nombre-plan
{color: #2ad167;
font-size: 30px;
margin: 5px}

.precio-plan-numero
{color: black;
font-size: 50px;
margin: 5px; 
padding-top: 10px;}

.facturado
{color: grey;
font-size: 30px;
margin: 5px}

.listas-planes
{color: grey;
font-size: 20px;
margin: 5px; 
padding-top: 15px;}

.boton-demos
{background-color: #2ad167; 
color:white;
font-size: 30px;
margin: 5px; 
margin-top: 1cm;
border-radius: 8px;
border: 2px solid #f7f8f9;
cursor: pointer}

/* ACA TERMINA MAIN PARTE 4, PLANES  */

/*FOOTER NO SE TOCA*/

footer
{background-color: #2a3342; color: #f7f8f9; font-size: 0.6cm;}

#unica-imagen-footer
{display: flex; 
justify-content: center; 
align-items: center;
margin-top: 2cm;}

#lista-footer
{display: flex; 
justify-content: space-between;
align-items: center;
margin-left: 15cm;
margin-right: 15cm;
margin-top: 1.5cm;
list-style: none;
cursor: pointer}

#parrafo-footer
{display: flex;
justify-content: center;
align-items: center;
text-align: center;
margin-top: 1.5cm;
margin-bottom: 1.5cm;}

#footer-flex
{margin-left:8px ;}

/*FOOTER NO SE TOCA*/












